{% load static %}
<!-- footer start -->
            <div class="row bg-dark footer py-5 mt-5">
                <div class="col-sm-12 text-center text-light">
                    <img src="{% static '/images/29.jpg' %}" alt="">
                    <h4>About Us</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam harum inventore sunt animi<br/> praesentium totam, cupiditate reprehenderit modi repellat  vero. Rerum <br/> sed obcaecati earum non vitae culpa, nihil commodi voluptatem.</p>

                    <p>&copy; copyright 2022-2023 all right reserved, designed and developed by <i class="text-warning">Softpro India Computer Technologies (p) ltd.</i></p>
                </div>
            </div>
            <!-- footer end -->
